@import "tailwindcss";

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-2xl font-semibold;
}

h4 {
  @apply text-xl font-bold;
}

h5 {
  @apply text-lg font-semibold;

}

h6 {
  @apply text-base font-semibold;
}

.f-col {
  @apply flex flex-col;
}

.f-row {
  @apply flex flex-row;
}

.f-center {
  @apply flex justify-center items-center;
}

@theme inline {
  --color-primary: #302520;
  --font-heading: var(--font-anybody);
  --font-sans: var(--font-inter);
}

:root {
  --background: #f7f1f1;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}